<?xml version="1.0"?>
<config>
    <modules>
        <Mageplaza_ProductSlider>
            <version>0.1.1</version>
        </Mageplaza_ProductSlider>
    </modules>
    <frontend>
        <routers>
            <productslider>
                <use>standard</use>
                <args>
                    <module>Mageplaza_ProductSlider</module>
                    <frontName>productslider</frontName>
                </args>
            </productslider>
        </routers>
        <layout>
            <updates>
                <productslider>
                    <file>mageplaza/productslider.xml</file>
                </productslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_ProductSlider>
                    <files>
                        <default>Mageplaza_ProductSlider.csv</default>
                    </files>
                </Mageplaza_ProductSlider>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <productslider_observer_block_output>
                        <type>singleton</type>
                        <class>productslider/block_observer</class>
                        <method>afterOutputHtml</method>
                    </productslider_observer_block_output>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <productslideradmin>
                <use>admin</use>
                <args>
                    <module>Mageplaza_ProductSlider</module>
                    <frontName>productslideradmin</frontName>
                </args>
            </productslideradmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productslider>
                    <file>mageplaza/productslider.xml</file>
                </productslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageplaza_ProductSlider>
                    <files>
                        <default>Mageplaza_ProductSlider.csv</default>
                    </files>
                </Mageplaza_ProductSlider>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <adminnotification>
                        <type>singleton</type>
                        <class>productslider/feed</class>
                        <method>updateFeed</method>
                    </adminnotification>
                </observers>
            </controller_action_predispatch>
        </events>

    </adminhtml>
    <global>
        <models>
            <productslider>
                <class>Mageplaza_ProductSlider_Model</class>
                <resourceModel>productslider_mysql4</resourceModel>
            </productslider>
            <productslider_mysql4>
                <class>Mageplaza_ProductSlider_Model_Mysql4</class>
                <entities>
                    <productslider>
                        <table>mageplaza_productslider</table>
                    </productslider>
                </entities>
            </productslider_mysql4>
        </models>
        <resources>
            <mageplaza_productslider_setup>
                <setup>
                    <module>Mageplaza_ProductSlider</module>
                    <class>Mageplaza_ProductSlider_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageplaza_productslider_setup>
            <productslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productslider_write>
            <productslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productslider_read>
        </resources>

        <blocks>
            <productslider>
                <class>Mageplaza_ProductSlider_Block</class>
            </productslider>
        </blocks>
        <helpers>
            <productslider>
                <class>Mageplaza_ProductSlider_Helper</class>
            </productslider>
        </helpers>
    </global>

    <default>
        <productslider>
            <general>
                <is_enabled>1</is_enabled>
            </general>
            <label>
                <new_product_label>New</new_product_label>
                <new_background_color>3ec2de</new_background_color>
                <new_text_product_color>ffffff</new_text_product_color>

                <sale_label>Sale</sale_label>
                <sale_background>f12b62</sale_background>
                <sale_text_color>ffffff</sale_text_color>

            </label>
        </productslider>
    </default>

</config>