<?xml version="1.0"?>
<config>
    <tabs>
        <mageplaza translate="label">
            <label>Mageplaza Extensions</label>
            <sort_order>1</sort_order>
        </mageplaza>
    </tabs>
    <sections>
        <productslider translate="label" module="productslider">
            <class>separator-top</class>
            <label>Product Sliders</label>
            <tab>mageplaza</tab>
            <frontend_type>text</frontend_type>
            <sort_order>299</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <notification translate="label comment">
                            <label>
                               Documentations
                            </label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>productslider/adminhtml_renderer_field</frontend_model>
                            <margin_top>0px</margin_top>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                        <a href="https://mageplaza.freshdesk.com/support/solutions/folders/6000215076" target="_blank">User Guide</a> <br>
                                        <a href="https://mageplaza.freshdesk.com/support/discussions/topics/new?forum_id=6000240992" target="_blank">Report a problem</a> <br>
                                        ]]>

                            </comment>
                        </notification>

                        <compatible translate="label comment">
                            <label>
                               Compatible with
                            </label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>productslider/adminhtml_renderer_field</frontend_model>
                            <margin_top>0px</margin_top>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[
                                        <a href="https://www.magecheckout.com/?utm_source=mageplaza&utm_medium=free%20extensions&utm_campaign=documentation" target="_blank">Magecheckout</a> extensions <br>
                                        ]]>

                            </comment>
                        </compatible>



                        <is_enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </is_enabled>
                    </fields>
                </general>
                <label translate="label">
                    <label>Product Label</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <productslider_url translate="label">
                            <label>New Label</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>productslider/adminhtml_render</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </productslider_url>

                        <is_enabled_new>
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </is_enabled_new>

                        <new_product_label translate="label">
                            <label>New product Label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </new_product_label>

                        <new_background_color>
                            <label>Background Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </new_background_color>

                        <new_text_product_color>
                            <label>Text Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </new_text_product_color>


                        <!--<new_position>-->
                        <!--<label>Position</label>-->
                        <!--<frontend_type>select</frontend_type>-->
                        <!--<sort_order>5</sort_order>-->
                        <!--<source_model>productslider/position</source_model>-->
                        <!--<show_in_default>1</show_in_default>-->
                        <!--<show_in_website>1</show_in_website>-->
                        <!--<show_in_store>1</show_in_store>-->
                        <!--<comment></comment>-->
                        <!--</new_position>-->

                        <onsale_url translate="label">
                            <label>OnSale Label</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>productslider/adminhtml_render</frontend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </onsale_url>


                        <is_enabled_sale>
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>7</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </is_enabled_sale>

                        <sale_label>
                            <label>On Sale Label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sale_label>

                        <sale_background>
                            <label>Background Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sale_background>


                        <sale_text_color>
                            <label>Text Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sale_text_color>


                        <!--<featured_position>-->
                        <!--<label>Position</label>-->
                        <!--<frontend_type>select</frontend_type>-->
                        <!--<sort_order>10</sort_order>-->
                        <!--<source_model>productslider/position</source_model>-->
                        <!--<show_in_default>1</show_in_default>-->
                        <!--<show_in_website>1</show_in_website>-->
                        <!--<show_in_store>1</show_in_store>-->
                        <!--<comment></comment>-->
                        <!--</featured_position>-->

                    </fields>
                </label>
            </groups>
        </productslider>
    </sections>
</config>