/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.bannerslider-carousel {
    position: relative;
}
.bannerslider-carousel .product-name{
    padding: 10px 0;
    margin: 0;
    text-align: center;
}
.bannerslider-carousel .product-name a{
    font-size: 14px;
}
.bannerslider-carousel .price{
    margin: 0 0 10px 0;
    text-align: center;
    float: left;
    width: 100%;
    line-height: 25px;
    height: 25px;
}
.bannerslider-carousel .price .price-box{
    float: left;
    width: 100%;
    height: 25px;
    margin: 0;
}
.bannerslider-carousel .price .price-box p{
    margin: 0;
}
.bannerslider-carousel .description{
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
}
.bannerslider-carousel .actions{
    text-align: center;
}
.bannerslider-carousel .ratings{
    text-align: center;
}
.bannerslider-carousel .ratings .rating-box{
    margin: 0 auto;
}
.bannerslider-carousel .item{
    margin: 10px;
}
.bannerslider-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}
.bannerslider-carousel .actions {
    padding-top: 10px;
    height: auto;
    position: absolute;
    bottom: 0px;
    /* min-height: 85px; */
    width: 100%;
}
.bannerslider-carousel .product-info {
    position: relative;
    min-height: 200px;
    /*padding-bottom: 80px;*/
}

.bannerslider-carousel .item{
    position: relative;
}

.bannerslider-carousel .item .bgf-color{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -7px;
    z-index: 10;
}

.bannerslider-carousel .item .bg-color{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -7px;
    z-index: 10;
}
.bannerslider-carousel .item .bg-color:hover ,.bannerslider-carousel .item .bgf-color:hover{
    width: 65px;
    height: 65px;
}
.bannerslider-carousel .item .bg-color:hover p,.bannerslider-carousel .item .bgf-color:hover p{
    height: 65px;
    line-height: 65px;
}

.bannerslider-carousel .item .bgf-color p ,.bannerslider-carousel .item .bg-color p{
    text-align: center;
    padding: 0;
    margin: 0;
    height: 60px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 60px;
}

